apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kaiwa-db
  namespace: kaiwa
  labels:
    app.kubernetes.io/name: kaiwa
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
