apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: harbor-registry
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: harbor-registry
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {"auths":{"harbor.gnzaga.com":{"username":"{{ .harbor_username }}","password":"{{ .harbor_password }}","auth":"{{ printf "%s:%s" .harbor_username .harbor_password | b64enc }}"}}}
  data:
    - secretKey: harbor_username
      remoteRef:
        key: kaiwa
        property: harbor_username
    - secretKey: harbor_password
      remoteRef:
        key: kaiwa
        property: harbor_password
